/target
/data/go/go-basic.json.gz
/cache/
/flamegraph.svg
/stats/*.csv
/stats/runs/results/
/stats/runs/summaries/
src/bin/run_configs/*

# plots and images
/stats/plots/
*.png
*.jpg
*.jpeg
**/*.bin
.cache/
.vscode

